{
  "openapi": "3.1.0",
  "info": {
    "title": "Service API",
    "description": "This is the API to manage Crowdsec services",
    "version": "1.70.33",
    "contact": {
      "name": "CrowdSec",
      "url": "https://crowdsec.net",
      "email": "info@crowdsec.net"
    }
  },
  "servers": [
    {
      "url": "https://admin.api.crowdsec.net/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/allowlists": {
      "post": {
        "tags": [
          "Allowlists"
        ],
        "summary": "Create Allowlist",
        "description": "Create a new allowlist for an organization",
        "operationId": "createAllowlist",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AllowlistCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowlistCreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Allowlists"
        ],
        "summary": "List Allowlists",
        "description": "List all allowlists for an organization",
        "operationId": "listAllowlists",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowlistGetResponsePage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/allowlists/{allowlist_id}": {
      "get": {
        "tags": [
          "Allowlists"
        ],
        "summary": "Get Allowlist",
        "description": "Get an allowlist by ID",
        "operationId": "getAllowlist",
        "parameters": [
          {
            "name": "allowlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Allowlist Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowlistGetResponse"
                }
              }
            }
          },
          "404": {
            "description": "Allowlist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Allowlists"
        ],
        "summary": "Update Allowlist",
        "description": "Update an allowlist by ID",
        "operationId": "updateAllowlist",
        "parameters": [
          {
            "name": "allowlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Allowlist Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AllowlistUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowlistUpdateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Allowlist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Allowlists"
        ],
        "summary": "Delete Allowlist",
        "description": "Delete an allowlist by ID",
        "operationId": "deleteAllowlist",
        "parameters": [
          {
            "name": "allowlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Allowlist Id"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Force delete the allowlist, even if it has subscribers",
              "examples": [
                true
              ],
              "default": false,
              "title": "Force"
            },
            "description": "Force delete the allowlist, even if it has subscribers"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "404": {
            "description": "Allowlist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/allowlists/{allowlist_id}/items": {
      "post": {
        "tags": [
          "Allowlists"
        ],
        "summary": "Create Allowlist Items",
        "description": "Create items for an allowlist",
        "operationId": "createAllowlistItems",
        "parameters": [
          {
            "name": "allowlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Allowlist Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AllowlistItemsCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Allowlist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Allowlists"
        ],
        "summary": "Get Allowlist Items",
        "description": "Get items in an allowlist",
        "operationId": "getAllowlistItems",
        "parameters": [
          {
            "name": "allowlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Allowlist Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowlistGetItemsResponsePage"
                }
              }
            }
          },
          "404": {
            "description": "Allowlist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/allowlists/{allowlist_id}/items/{item_id}": {
      "get": {
        "tags": [
          "Allowlists"
        ],
        "summary": "Get Allowlist Item",
        "description": "Get an allowlist item by ID",
        "operationId": "getAllowlistItem",
        "parameters": [
          {
            "name": "allowlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Allowlist Id"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Item Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowlistGetItemsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Allowlist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Allowlists"
        ],
        "summary": "Update Allowlist Item",
        "description": "Update an allowlist item by ID",
        "operationId": "updateAllowlistItem",
        "parameters": [
          {
            "name": "allowlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Allowlist Id"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Item Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AllowlistItemUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowlistItemUpdateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Allowlist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Allowlists"
        ],
        "summary": "Delete Allowlist Item",
        "description": "Delete an allowlist item by ID",
        "operationId": "deleteAllowlistItem",
        "parameters": [
          {
            "name": "allowlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Allowlist Id"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Item Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "404": {
            "description": "Allowlist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/allowlists/{allowlist_id}/subscribers": {
      "get": {
        "tags": [
          "Allowlists"
        ],
        "summary": "Get Allowlist Subscribers",
        "description": "Get subscribers of an allowlist",
        "operationId": "getAllowlistSubscribers",
        "parameters": [
          {
            "name": "allowlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Allowlist Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowlistSubscriberEntityPage"
                }
              }
            }
          },
          "404": {
            "description": "Allowlist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Allowlists"
        ],
        "summary": "Subscribe Allowlist",
        "description": "Subscribe to an allowlist",
        "operationId": "subscribeAllowlist",
        "parameters": [
          {
            "name": "allowlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Allowlist Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AllowlistSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowlistSubscriptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Allowlist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/allowlists/{allowlist_id}/subscribers/{entity_id}": {
      "delete": {
        "tags": [
          "Allowlists"
        ],
        "summary": "Unsubscribe Allowlist",
        "description": "Unsubscribe from an allowlist",
        "operationId": "unsubscribeAllowlist",
        "parameters": [
          {
            "name": "allowlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Allowlist Id"
            }
          },
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Entity Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "404": {
            "description": "Allowlist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/blocklists": {
      "post": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Create Blocklist",
        "description": "Create a new blocklist owned by your organization. The name must be unique within your organization. The list will only be visible to your organization and organizations you shared the blocklist with. This operation is submitted to quotas",
        "operationId": "createBlocklist",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlocklistCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicBlocklistResponse"
                }
              }
            }
          },
          "409": {
            "description": "Blocklist already exists"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Get Blocklists",
        "description": "Get multiple blocklists. Only blocklists owned by your organization, shared with your organization or public blocklists are returned. Filters and pagination are available as query parameters.",
        "operationId": "getBlocklists",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "description": "Page size",
              "examples": [
                50
              ],
              "default": 100,
              "title": "Page Size"
            },
            "description": "Page size"
          },
          {
            "name": "subscribed_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "only subscribed blocklists",
              "examples": [
                true
              ],
              "default": false,
              "title": "Subscribed Only"
            },
            "description": "only subscribed blocklists"
          },
          {
            "name": "exclude_subscribed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "exclude subscribed blocklists",
              "examples": [
                false
              ],
              "default": false,
              "title": "Exclude Subscribed"
            },
            "description": "exclude subscribed blocklists"
          },
          {
            "name": "include_filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/BlocklistIncludeFilters"
              },
              "description": "Include blocklists with the specified filters",
              "examples": [
                [
                  "public",
                  "shared"
                ]
              ],
              "default": [
                "private",
                "shared"
              ],
              "title": "Include Filter"
            },
            "description": "Include blocklists with the specified filters"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by category",
              "examples": [
                [
                  "proxy",
                  "scanner"
                ]
              ],
              "title": "Category"
            },
            "description": "Filter by category"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicBlocklistResponsePage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/blocklists/search": {
      "post": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Search Blocklists",
        "description": "Search blocklists",
        "operationId": "searchBlocklist",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlocklistSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicBlocklistResponsePage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/blocklists/{blocklist_id}": {
      "get": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Get Blocklist",
        "description": "Get the details of a blocklist by ID. The content of the blocklist is not returned.",
        "operationId": "getBlocklist",
        "parameters": [
          {
            "name": "blocklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Blocklist Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicBlocklistResponse"
                }
              }
            }
          },
          "404": {
            "description": "Blocklist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Update Blocklist",
        "description": "Update a blocklist's details by ID. It is not possible to update the blocklist content using this operation.",
        "operationId": "updateBlocklist",
        "parameters": [
          {
            "name": "blocklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Blocklist Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlocklistUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicBlocklistResponse"
                }
              }
            }
          },
          "403": {
            "description": "Blocklist is read-only"
          },
          "404": {
            "description": "Blocklist not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Delete Blocklist",
        "description": "Delete a blocklist by ID. If the blocklist is shared with other organizations or it has subscriptions, the operation will fail. If you want to force delete the blocklist, you can use the force query parameter, so the blocklists will be unshared / unsubscribed.",
        "operationId": "deleteBlocklist",
        "parameters": [
          {
            "name": "blocklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Blocklist Id"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Force delete the blocklist if it is shared or subscribed",
              "examples": [
                false
              ],
              "default": false,
              "title": "Force"
            },
            "description": "Force delete the blocklist if it is shared or subscribed"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "404": {
            "description": "Blocklist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/blocklists/{blocklist_id}/upload": {
      "post": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Upload Blocklist Content",
        "description": "Upload a blocklist. The file must be in txt format with one IP per line. This operation will overwrite the existing blocklist content.",
        "operationId": "uploadBlocklistContent",
        "parameters": [
          {
            "name": "blocklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Blocklist Id"
            }
          },
          {
            "name": "expiration",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Blocklist expiration",
              "examples": [
                "2026-06-19T08:54:44.914456+00:00"
              ],
              "title": "Expiration"
            },
            "description": "Blocklist expiration"
          },
          {
            "name": "ignore_invalid_ips",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Ignore invalid IPs",
              "examples": [
                false
              ],
              "default": false,
              "title": "Ignore Invalid Ips"
            },
            "description": "Ignore invalid IPs"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_uploadBlocklistContent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid IP in blocklist file content"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/blocklists/{blocklist_id}/ips": {
      "post": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Add Ips To Blocklist",
        "description": "Add IPs to a blocklist. If an IP is already in the blocklist, its expiration will be updated with the new expiration.",
        "operationId": "addIpsToBlocklist",
        "parameters": [
          {
            "name": "blocklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Blocklist Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlocklistAddIPsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "403": {
            "description": "Blocklist is read-only"
          },
          "404": {
            "description": "Blocklist not found"
          },
          "412": {
            "description": "Payload too large for one operation, limit is 20000 IPs per request"
          },
          "500": {
            "description": "Internal server error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/blocklists/{blocklist_id}/ips/bulk_overwrite": {
      "post": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Bulk Overwrite Blocklist Ips",
        "description": "Overwrite blocklist content",
        "operationId": "overwriteIps",
        "parameters": [
          {
            "name": "blocklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Blocklist Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlocklistAddIPsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "403": {
            "description": "Blocklist is read-only"
          },
          "404": {
            "description": "Blocklist not found"
          },
          "412": {
            "description": "Payload too large for one operation, limit is 20000 IPs per request"
          },
          "500": {
            "description": "Internal server error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/blocklists/{blocklist_id}/ips/delete": {
      "post": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Delete Ips From Blocklist",
        "description": "Delete IPs from a blocklist",
        "operationId": "deleteIpsFromBlocklist",
        "parameters": [
          {
            "name": "blocklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Blocklist Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlocklistDeleteIPsRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "403": {
            "description": "Blocklist is read-only"
          },
          "404": {
            "description": "Blocklist not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/blocklists/{blocklist_id}/download": {
      "get": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Download Blocklist Content",
        "description": "Download blocklist content as a list of ips as plain text separated by new lines. The response will include the ETag header for cache control. If_Modified_Since and If_None_Match cache control headers are supported for conditional requests.",
        "operationId": "downloadBlocklistContent",
        "parameters": [
          {
            "name": "blocklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Blocklist Id"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "If_Modified_Since cache control header",
              "title": "If-Modified-Since"
            },
            "description": "If_Modified_Since cache control header"
          },
          {
            "name": "if-none-match",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "If_None_Match cache control header",
              "title": "If-None-Match"
            },
            "description": "If_None_Match cache control header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Blocklist not found"
          },
          "204": {
            "description": "Blocklist is empty"
          },
          "500": {
            "description": "Internal server error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/blocklists/{blocklist_id}/subscribers": {
      "post": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Subscribe Blocklist",
        "description": "Subscribe to a blocklist with a remediation type. If the entity type is the full organization or a Tag, all the engines belonging to the organization or the Tag will be subscribed and new engines that will join the organization or the Tag will also be automatically subscribed. If the subscription has been done on an organization or Tag you cannot unsubscribe individual engines. In case of errors for some subscribers, the operation will still succeed for the entities that were successfully subscribed and you'll have the list of errors in the operation's result. This operation is submitted to quotas.",
        "operationId": "subscribeBlocklist",
        "parameters": [
          {
            "name": "blocklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Blocklist Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlocklistSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlocklistSubscriptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Blocklist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Get Blocklist Subscribers",
        "description": "Get blocklist subscribers within your organization.",
        "operationId": "getBlocklistSubscribers",
        "parameters": [
          {
            "name": "blocklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Blocklist Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlocklistSubscriberEntityPage"
                }
              }
            }
          },
          "404": {
            "description": "Blocklist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/blocklists/{blocklist_id}/subscribers/{entity_id}": {
      "delete": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Unsubscribe Blocklist",
        "description": "Unsubscribe from a blocklist. You cannot unsubscribe individual engines if the subscription has been done on an organization or Tag.",
        "operationId": "unsubscribeBlocklist",
        "parameters": [
          {
            "name": "blocklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Blocklist Id"
            }
          },
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Entity Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Blocklist not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/blocklists/{blocklist_id}/shares": {
      "post": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Share Blocklist",
        "description": "Share a blocklist with other organizations given their IDs. The blocklist must be owned by your organization. You can give read-only access or read-write access to the blocklist. Sharing a blocklist will not automatically subscribe the shared organizations to the blocklist.",
        "operationId": "shareBlocklist",
        "parameters": [
          {
            "name": "blocklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Blocklist Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlocklistShareRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Blocklist not found"
          },
          "409": {
            "description": "Blocklist is not private"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/blocklists/{blocklist_id}/shares/{unshare_organization_id}": {
      "delete": {
        "tags": [
          "Blocklists"
        ],
        "summary": "Unshare Blocklist",
        "description": "Unshare a blocklist with other organizations. If the blocklist is subscribed by the organization, the operation will fail.Use force query parameter to unshare a blocklist even if subscriptions exists.",
        "operationId": "unshareBlocklist",
        "parameters": [
          {
            "name": "blocklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Blocklist Id"
            }
          },
          {
            "name": "unshare_organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Unshare Organization Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "404": {
            "description": "Blocklist not found"
          },
          "409": {
            "description": "Blocklist is not private"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/integrations": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create Integration",
        "description": "Create an integration to a firewall or remediation component, owned by your organization. The name should be unique within the organization. This operation is submitted to quotas.",
        "operationId": "createIntegration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationCreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Get Integrations",
        "description": "Get integrations owned by your organization",
        "operationId": "getIntegrations",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "List of tags associated with the integrations (any of)",
              "examples": [
                [
                  "firewall",
                  "remediation"
                ]
              ],
              "title": "Tag"
            },
            "description": "List of tags associated with the integrations (any of)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationGetResponsePage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/{integration_id}": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Get Integration",
        "description": "Get an integration by ID",
        "operationId": "getIntegration",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Integration Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationGetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Integrations"
        ],
        "summary": "Update Integration",
        "description": "Update the integration details",
        "operationId": "updateIntegration",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Integration Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationUpdateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Integrations"
        ],
        "summary": "Delete Integration",
        "description": "Delete the integration by ID",
        "operationId": "deleteIntegration",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Integration Id"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Force delete the integration even if it has active subscriptions (it will unsubscribe from all lists)",
              "examples": [
                true
              ],
              "default": false,
              "title": "Force"
            },
            "description": "Force delete the integration even if it has active subscriptions (it will unsubscribe from all lists)"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/{integration_id}/content": {
      "head": {
        "tags": [
          "Integrations"
        ],
        "summary": "Head Integration Content",
        "description": "Check if the integration has content",
        "operationId": "headIntegrationContent",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Integration Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Integration not found"
          },
          "204": {
            "description": "Integration has no subscribed blocklists or no content available"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Get Integration Content",
        "description": "Get the ips associated to the integration in plain text format. The content can be paginated to accomodate limits in firewalls.",
        "operationId": "getIntegrationContent",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Integration Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number to return",
              "examples": [
                1
              ],
              "default": 1,
              "title": "Page"
            },
            "description": "Page number to return"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 10000
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of items to return, 0 means no limit (default), should be greater than 10000",
              "examples": [
                50000
              ],
              "title": "Page Size"
            },
            "description": "Maximum number of items to return, 0 means no limit (default), should be greater than 10000"
          },
          {
            "name": "pull_limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "examples": [
                5000
              ],
              "title": "Pull Limit"
            }
          },
          {
            "name": "enable_ip_aggregation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "examples": [
                true
              ],
              "default": false,
              "title": "Enable Ip Aggregation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Integration not found"
          },
          "204": {
            "description": "Integration has no subscribed blocklists or no content available"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/{integration_id}/v1/decisions/stream": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Get Integration Content Stream",
        "description": "Get the ips associated to the integration in a format compatible with a remediation component. As for the remediation components, you can fetch the full content with startup=true or only the changes since the last pull",
        "operationId": "getIntegrationContentStream",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId",
              "examples": [
                "5f9d88b9e5c4f5b9a3d3e8b1"
              ],
              "title": "Integration Id"
            }
          },
          {
            "name": "startup",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Set to true if it's the first run to fetch all the content, otherwise only changes since the last pull.",
              "examples": [
                false
              ],
              "default": false,
              "title": "Startup"
            },
            "description": "Set to true if it's the first run to fetch all the content, otherwise only changes since the last pull."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Integration not found"
          },
          "204": {
            "description": "Integration has no subscribed blocklists or no content available"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/decisions": {
      "get": {
        "tags": [
          "Decisions"
        ],
        "summary": "Get Decisions",
        "description": "Get decisions",
        "operationId": "getDecisions",
        "parameters": [
          {
            "name": "instance_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter decisions by instance IDs",
              "examples": [
                [
                  "inst-001",
                  "inst-002"
                ]
              ],
              "default": [],
              "title": "Instance Ids"
            },
            "description": "Filter decisions by instance IDs"
          },
          {
            "name": "tag_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter decisions by tag IDs",
              "examples": [
                [
                  "64b8f0c2a1d3e4f5a6b7c8d9",
                  "64b8f0c2a1d3e4f5a6b7c8da"
                ]
              ],
              "default": [],
              "title": "Tag Ids"
            },
            "description": "Filter decisions by tag IDs"
          },
          {
            "name": "remediation_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter decisions by remediation types",
              "examples": [
                [
                  "ban",
                  "captcha"
                ]
              ],
              "default": [],
              "title": "Remediation Types"
            },
            "description": "Filter decisions by remediation types"
          },
          {
            "name": "ips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter decisions by IPs (only for IP decisions)",
              "examples": [
                [
                  "203.0.113.7",
                  "203.0.113.8"
                ]
              ],
              "default": [],
              "title": "Ips"
            },
            "description": "Filter decisions by IPs (only for IP decisions)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/DecisionsSortBy"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Field to sort by (e.g., created_at, duration)",
              "examples": [
                "created_at"
              ],
              "default": "created_at",
              "title": "Sort By"
            },
            "description": "Field to sort by (e.g., created_at, duration)"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/DecisionsSortOrder"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort order: 'asc' for ascending, 'desc' for descending",
              "examples": [
                "desc"
              ],
              "default": "desc",
              "title": "Sort Order"
            },
            "description": "Sort order: 'asc' for ascending, 'desc' for descending"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecisionsGetResponsePage"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Decisions"
        ],
        "summary": "Create Decision",
        "description": "Create a new decision.",
        "operationId": "createDecision",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecisionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecisionCreateResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: Decision value is in allowlists; cannot create decision."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/decisions/{decision_id}": {
      "delete": {
        "tags": [
          "Decisions"
        ],
        "summary": "Delete Decision",
        "description": "Delete a decision by its UUID.",
        "operationId": "deleteDecision",
        "parameters": [
          {
            "name": "decision_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Decision Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/info": {
      "get": {
        "tags": [
          "Info"
        ],
        "summary": "Get Me Info",
        "description": "Get the current user and organization informations",
        "operationId": "getInfo",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/remediation": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "summary": "Get Metrics Remediation",
        "description": "Get remediation metrics",
        "operationId": "getMetricsRemediation",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start date of the metrics, default to last day",
              "examples": [
                "2025-03-14T09:30:00Z"
              ],
              "title": "Start Date"
            },
            "description": "Start date of the metrics, default to last day"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End date of the metrics",
              "examples": [
                "2025-03-15T09:30:00Z"
              ],
              "title": "End Date"
            },
            "description": "End date of the metrics"
          },
          {
            "name": "engine_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of engine ids",
              "examples": [
                [
                  "engine_1",
                  "engine_2"
                ]
              ],
              "default": [],
              "title": "Engine Ids"
            },
            "description": "List of engine ids"
          },
          {
            "name": "integration_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of integration ids",
              "examples": [
                [
                  "integration_1",
                  "integration_2"
                ]
              ],
              "default": [],
              "title": "Integration Ids"
            },
            "description": "List of integration ids"
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of tags",
              "examples": [
                [
                  "tag_1",
                  "tag_2"
                ]
              ],
              "default": [],
              "title": "Tags"
            },
            "description": "List of tags"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRemediationMetricsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/hub/index/{tenant}/{branch}/.index.json": {
      "get": {
        "description": "Get a (minimized) index file for 'cscli hub update'. May or may not include unused fields\n(content, long descriptions, labels...) or redundant ones (author, name).",
        "operationId": "getIndex",
        "parameters": [
          {
            "in": "path",
            "name": "branch",
            "required": true,
            "schema": {
              "title": "Branch",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "title": "Tenant",
              "type": "string"
            }
          },
          {
            "description": "Include content in the index",
            "in": "query",
            "name": "with_content",
            "required": false,
            "schema": {
              "default": false,
              "description": "Include content in the index",
              "title": "With Content",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Index"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get a minimized index file (crowdsec only)",
        "tags": [
          "Hub"
        ]
      },
      "head": {
        "description": "This endpoint returns cache-related headers for the index file without the full content.\nIt is useful for validating cache, checking resource freshness, and managing client-side\ncache expiration policies. No body content is returned.",
        "operationId": "headIndex",
        "parameters": [
          {
            "in": "path",
            "name": "branch",
            "required": true,
            "schema": {
              "title": "Branch",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "title": "Tenant",
              "type": "string"
            }
          },
          {
            "description": "Include content in the index",
            "in": "query",
            "name": "with_content",
            "required": false,
            "schema": {
              "default": false,
              "description": "Include content in the index",
              "title": "With Content",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Index"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Check cache control headers for the index file",
        "tags": [
          "Hub"
        ]
      }
    },
    "/hub/index/{tenant}/{branch}/{item_path}": {
      "get": {
        "description": "Get an item's content from its path. This is usually a YAML file.",
        "operationId": "getItemContent",
        "parameters": [
          {
            "in": "path",
            "name": "item_path",
            "required": true,
            "schema": {
              "title": "Item Path",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "branch",
            "required": true,
            "schema": {
              "title": "Branch",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "title": "Tenant",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "404": {
            "description": "No content field"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get an item's content (crowdsec only)",
        "tags": [
          "Hub"
        ]
      },
      "head": {
        "description": "This endpoint returns cache-related headers for an item's content. It is useful for validating\ncache, checking resource freshness, and managing client-side cache expiration policies. No body\ncontent is returned.",
        "operationId": "headItemContent",
        "parameters": [
          {
            "in": "path",
            "name": "item_path",
            "required": true,
            "schema": {
              "title": "Item Path",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "branch",
            "required": true,
            "schema": {
              "title": "Branch",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "title": "Tenant",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Check cache control headers for an item's content",
        "tags": [
          "Hub"
        ]
      }
    },
    "/cves": {
      "get": {
        "tags": [
          "Cves"
        ],
        "summary": "Get list of CVEs CrowdSec is tracking",
        "description": "Get a paginated list of CVEs that CrowdSec is tracking",
        "operationId": "getCves",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search query for CVEs",
              "examples": [
                "wordpress"
              ],
              "title": "Query"
            },
            "description": "Search query for CVEs"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/GetCVEsSortBy"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Field to sort by",
              "examples": [
                "trending"
              ],
              "default": "rule_release_date",
              "title": "Sort By"
            },
            "description": "Field to sort by"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/GetCVEsSortOrder"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort order: ascending or descending",
              "examples": [
                "asc"
              ],
              "default": "desc",
              "title": "Sort Order"
            },
            "description": "Sort order: ascending or descending"
          },
          {
            "name": "exploitation_phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/CVEExploitationPhase"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by exploitation phase",
              "examples": [
                "mass_exploitation"
              ],
              "title": "Exploitation Phase"
            },
            "description": "Filter by exploitation phase"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCVEsResponsePage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/cves/{cve_id}": {
      "get": {
        "tags": [
          "Cves"
        ],
        "summary": "Get CVE ID informations",
        "description": "Get information about a specific CVE ID",
        "operationId": "getCve",
        "parameters": [
          {
            "name": "cve_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cve Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCVEResponse"
                }
              }
            }
          },
          "404": {
            "description": "CVE Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/cves/{cve_id}/protect-rules": {
      "get": {
        "tags": [
          "Cves"
        ],
        "summary": "Get protection rules for a CVE ID",
        "description": "Get protection/detection rules associated with a specific CVE ID",
        "operationId": "getCveProtectRules",
        "parameters": [
          {
            "name": "cve_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cve Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCVEProtectRulesResponse"
                }
              }
            }
          },
          "404": {
            "description": "CVE Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/cves/{cve_id}/ips-download": {
      "get": {
        "tags": [
          "Cves"
        ],
        "summary": "Download IPs exploiting a CVE ID (raw)",
        "description": "Download the list of IPs exploiting a specific CVE ID in raw format",
        "operationId": "downloadCveIps",
        "parameters": [
          {
            "name": "cve_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cve Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "CVE Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/cves/{cve_id}/ips-details": {
      "get": {
        "tags": [
          "Cves"
        ],
        "summary": "Get IPs details exploiting a CVE ID",
        "description": "Get detailed information about IPs exploiting a specific CVE ID",
        "operationId": "getCveIpsDetails",
        "parameters": [
          {
            "name": "cve_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cve Id"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d+[hd]$"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter IPs seen since this date, format duration (e.g., 7d, 24h), default to 14d",
              "examples": [
                "7d"
              ],
              "default": "14d",
              "title": "Since"
            },
            "description": "Filter IPs seen since this date, format duration (e.g., 7d, 24h), default to 14d"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCVEIPsResponsePage"
                }
              }
            }
          },
          "404": {
            "description": "CVE Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/cves/{cve_id}/ips-details-stats": {
      "get": {
        "tags": [
          "Cves"
        ],
        "summary": "Get stats about IPs exploiting a CVE ID",
        "description": "Get aggregated statistics about IPs exploiting a specific CVE ID",
        "operationId": "getCveIpsDetailsStats",
        "parameters": [
          {
            "name": "cve_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Cve Id"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d+[hd]$"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter IPs seen since this date, format duration (e.g., 7d, 24h), default to 14d",
              "examples": [
                "24h"
              ],
              "default": "14d",
              "title": "Since"
            },
            "description": "Filter IPs seen since this date, format duration (e.g., 7d, 24h), default to 14d"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpsDetailsStats"
                }
              }
            }
          },
          "404": {
            "description": "CVE Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/cves/{cve_id}/integrations": {
      "post": {
        "tags": [
          "Cves"
        ],
        "summary": "Subscribe an integration to a CVE ID",
[...]
